.jumbotron{

  background-color:#0052d6;
  color:black;
  padding: 70px 0px 50px 50px;
  margin-left:0px;

  margin-top:30px;
}


.footer{
  background-color:#8db4f2;
  padding: 50px 0px 40px 0px;

  margin-left: 0px;
  border-radius: 5px;
}

#but{

width:300px;
font-weight: 700;

}

.marg{

  margin-top: 150px;
  margin-bottom: 150px;
}

#re{

width:100px;
font-weight: 700;
color:white;
margin-top: 5px;

}

.marg1{

  margin-bottom: 10px;

}

.marg2
{
  padding-bottom: 20px;
}
